<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.firstinspires.ftc.teamcode">

    <uses-sdk tools:overrideLibrary="com.lynx.androidorbslam3, org.opencv" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppThemeRedRC"
        tools:replace="android:label,android:theme">
    </application>

</manifest>